.fundo {
  position: static;
  color: white;
  background-color: blue;
  height: 60vh;
  background-image: url("https://media.istockphoto.com/id/1355760884/pt/foto/big-data-and-cloud-computing-3d-rendering.jpg?s=1024x1024&w=is&k=20&c=MZJbrTCUkng9Txl2lwmEfikWtaIolg53TX4RumyzMf0=");
  background-size: cover;

}

.material-icons {
  margin: 50px;
  font-size: 10rem;
  border: 2px solid black;
  padding: 50px;
  border-radius: 50%;
}

.desc {
  display: flex;
  align-items: center;
}

.btn,
.capa h1,
p {
  margin: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  transition: 0.5s;
}

.capa {
  padding: 9rem;
}

.btn {
  background-color: rgb(53, 53, 53);
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}