.fundo {
  position: static;
  color: white;
  background-color: blue;
  height: 60vh;
  background-image: url("./assets/kgFundo.png");
  background-size: cover;
  transition: 0.5s;


}

.nav h3 {
  font-family: 'Permanent Marker', cursive;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.8s;


}

.nav h3,
a {
  color: white;

}

.nav li {
  display: inline;
  margin-left: 15px;
  align-items: center;
  transition: 0.8s;
  font-size: 1.2rem;
}

.nav li:hover {
  border-bottom: 1px solid white;

}

.material-icons {
  font-size: 7rem;
  margin: 20px;
}

.desc {
  background-color: #242e66;
  height: 70vh;
  border-radius: 0px 0px 50% 50%;
  margin-top: 60px;
}


.capa h1 {
  margin: 0px;
}

.capa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
  gap: 25px;
}

.botao {
  background-image: linear-gradient(to bottom, #3f51b5, #5c6bc0);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 15px;
}

.botao:hover {
  background-image: linear-gradient(to bottom, #3366cc, #6699ff);
}


.col p {
  border-right: 1px solid black;
  padding-right: 10px;

}

.col {
  margin-top: 10px;
  text-align: center;
  transition: 0.8s;
}

.col:hover {
  background-color: rgb(64, 64, 148);
  color: white;
  transform: scale(1.2);

}

.row {
  margin-top: -20px;
  width: 70%;
  background-color: rgb(255, 255, 255);
}



.ops {
  display: flex;
  justify-content: space-evenly;
}

.sla {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px;
  font-family: 'Permanent Marker', cursive;
  color: rgb(72, 72, 212);
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);

}



input[type="radio"]:checked+span {
  color: rgb(0, 38, 255);
}

.colorTextBlue {
  color: rgb(74, 74, 223);
}


.c1 {
  width: 22rem;
  height: 20rem;
  background-color: rgb(250, 243, 229);
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.cardes {
  display: flex;
  justify-content: space-evenly;
  z-index: 999;

}

.desc .c1 {
  margin-top: -1%;
}

.desc .mid {
  margin-top: 8%;
}

.material-symbols-outlined {
  font-size: 9rem;
  margin-top: -50px;
  color: #e65100;
}

.desc img {
  position: absolute;
  transform: scale(0.5);
  top: 68rem;
  right: 2rem;

}

.negc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30vh;
  color: white;
}

.baseboard {
  margin-top: 150px;
  background-color: #131836;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

.baseboard ul {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.baseboard h3 {
  font-family: 'Permanent Marker', cursive;
}